<table class="table table-hover">
        <tr>
            <td width="70px">
                <a href="{{ url_for('main_bp.user', username=post.author.name) }}">
                    <img src="{{ post.author.avatar(70) }}" style="max-width: 70px; max-height: 70px"/>
                </a>
            </td>
            <td>
                <p>Username: {{ post.author.name }}</p>
                <p>Published at: {{ post.pub_date }}</p>
                <p>Title: {{ post.title }}</p>
                <span id="post{{ post.id }}">{{ post.body }}</span>
            </td>
        </tr>
    </table>
